<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Index</title>
    <link rel="stylesheet" href="../../static/eco_style.css">
    <link rel="stylesheet" href="../../static/prod_page.css">
    <link rel="stylesheet" href="../../static/cart_design.css">
    <script src="https://kit.fontawesome.com/c6c701e286.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="navbar" class="nav-section">
        <div class="img-container">
            <img src="../../static/SVG/kisspng-package-delivery-computer-icons-parcel-courier-free-svg-packages-5ab11fd8987ad4.2157841715215574646246 (1).png"
                alt="">

            <div class="cart-container">
                <ul>
                    <li class="list-item">
                        <a href="/getData">
                            <i class="fa-solid fa-cart-shopping small-icons"></i>
                        </a>
                    </li>
                    <li id="bars" class="list-item">
                        <i class="fa-solid fa-bars small-icons"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="links-container">
            <div id="list-cont" class="list-container">
                <ul>
                    <li class="list-item">
                        <div class="nav-item">
                            <a href="/">Home</a>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="nav-item">
                            <a href="">Sales</a>
                        </div>
                    </li>

                    <li class="list-item">
                        <div class="nav-item">
                            <a href="">Men</a>
                        </div>
                    </li>

                    <li class="list-item">
                        <div class="nav-item">
                            <a href="">Women</a>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="nav-item">
                            <a href="">Account</a>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="nav-item">
                            <a href="">Contact Us</a>
                        </div>
                    </li>

                    <li class="list-item">
                        <div class="nav-item">
                            <a href="/getData">
                                <i id='cross-cart' class="fa-solid fa-cart-shopping small-icons"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
