<script src="../../static/home_script.js"></script>
    <script src="../../static/hover_transition.js"></script>
    <script src="../../static/navbar.js"></script>
    <script src="../../static/navbar_bars.js"></script>
    <script src="../../static/buying.js"></script>
</body>

</html>
