<div class="form-item in">
    <input type="email" name="userEmail" id="userEmail">
    <label for="userEmail">Email</label>
</div>
<div class="form-item in">
    <input type="password" name="userPassword" id="userPassword">
    <label for="userPassword">Password</label>
</div>
