{{>above_header}}
<section id="banner">
    <div class="banner-div">
        <div class="banner-content">
            <h2>Season End Sale</h2>
            <h3>GET</h3>
            <h1>UPTO 80% OFF</h1>
            <a href="">Shop Now</a>
        </div>

    </div>
</section>

{{>featured}}

<!-- special offers section -->

<section id="offers">
    <h1 class="heading">OUR SPECIALS</h1>
    <div class="offer-holder">
        <div class="men-catalog off-col pic-setting">
            <div class="catalog-data">
                <h3>Men Clothing catalog</h3>
            </div>
            <div class="layer">
                <a href="">EXPLORE</a>
            </div>
        </div>


        <div class="women-catalog off-col pic-setting">
            <div class="catalog-data">
                <h3>Men Clothing catalog</h3>
            </div>
            <div class="layer">
                <a href="">EXPLORE</a>
            </div>
        </div>

        <div class="summer-catalog off-col pic-setting">
            <div class="catalog-data">
                <h3>Men Clothing catalog</h3>
            </div>
            <div class="layer">
                <a href="">EXPLORE</a>
            </div>
        </div>

        <div class="winter-catalog off-col">
            <div class="catalog-data">
                <h3>Men Clothing catalog</h3>
            </div>
            <div class="layer">
                <a href="">EXPLORE</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <h1 class="heading">OUR SERVICES</h1>
    <div class="services-holder">

        <div class="cols">
            <div class="icon">
                <img class="icon-img" src="../../static/SVG/truck-arrow-right-solid.svg" alt="">
            </div>
            <div class="serv-text">
                <h4>Free Shipment</h4>
                <h6>Free Delivery across the country
                </h6>
            </div>
        </div>
        <div class="cols">
            <div class="icon">
                <img class="icon-img" src="../../static/SVG/handshake-simple-solid.svg" alt="">
            </div>
            <div class="serv-text">
                <h4>24/7 Available</h4>
                <h6>Free Delivery across the country
                </h6>
            </div>
        </div>
        <div class="cols">
            <div class="icon">
                <img class="icon-img" src="../../static/SVG/handshake-simple-solid.svg" alt="">
            </div>
            <div class="serv-text">
                <h4>Guarrante</h4>
                <h6>Free Delivery across the country
                </h6>
            </div>
        </div>
        <div class="cols">
            <div class="icon">
                <img class="icon-img" src="../../static/SVG/sack-dollar-solid.svg" alt="">
            </div>
            <div class="serv-text">
                <h4>Secure Payment</h4>
                <h6>Free Delivery across the country
                </h6>
            </div>
        </div>
    </div>
</section>

<!-- NEWSLETTER SECTION -->
<section id="news-letter">
    <h1 class="heading">NEWSLETTER</h1>
    <h4>Enter email and get latest product updates</h4>

    <form action="">
        <div class="text-input">
            <input type="email" placeholder="Email">
            <button type="submit">Submit</button>
        </div>

    </form>
</section>
{{>footer}}
