{{>header}}
<h1>Upload</h1>
<form id="myform" enctype="multipart/form-data" action="/upload_file" method="post">
   
    <div class="form-item in">
        <input type="file" id="myfile" name="myfile">
        
    </div>
    <div class="form-item">
       <input type="submit" value="Submit now">
    </div>
    

</form>
